.cpp{
  width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.418);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cpContainer {
  padding: 2rem;
  background: white;
  width: 40%;
  border-radius: 10px;
}
.inputBox {
  flex-direction: column;
  gap: 3px;
  margin-top: 10px;
  width: 100%;
}
.iTitle {
  color: #2c3d4f;
  font-size: 14px;
  font-weight: 550;
  line-height: 1.25;
}
.passwordInput {
  align-items: center;
  display: flex;
  width: 100%;
}
.passwordInput input {
  background-color: #f2f5fa;
  border: none;
  border-radius: 8px;
  color: rgba(8, 15, 15, 0.85);
  display: flex;
  font-size: 13px;
  height: 40px;
  margin: 5px 0;
  outline: none;
  padding: 0 12px;
  width: 100%;
}
.passwordInput img {
  cursor: pointer;
  display: flex;
  height: 30px;
  margin-left: -35px;
  width: 30px;
}
.passBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}
.cancelBtn {
  background-color: rgba(8, 15, 15, 0.85);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s ease;
  width: 100px;
}
.saveBtn {
  background-color: #f3912e;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  display: flex;
 font-weight: 400;
  height: 35px;
  justify-content: center;
  align-items: center;
  transition: 0.15s ease;
  width: 100px;
}
